In [1]:
import pandas as pd
import sqlite3
import os

# create the sqlite DB
db = sqlite3.connect("RealEstate.db")

# read CSV into dataframe
df1 = pd.read_csv("Sacramentorealestatetransactions.csv", header=None)

# convert the pandas dataframe to a sqlite table
df1.to_sql("Street", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

'C:\\Users\\GiGi\\repos\\MyNewProJect'

In [2]:
query = "SELECT * FROM Street LIMIT 5;"
run_query(query)

   index                                                  0
0      0  street                              city      ...
1      1  3526 HIGH ST                        SACRAMENTO...
2      2  51 OMAHA CT                         SACRAMENTO...
3      3  2796 BRANCH ST                      SACRAMENTO...
4      4  2805 JANETTE WAY                    SACRAMENTO...