In [1]:
import pandas as pd
import sqlite3
import os

# create the sqlite DB
db = sqlite3.connect("RealEstate.db")

# read CSV into dataframe
df1 = pd.read_csv("Sacramentorealestatetransactions.csv", header=None)

# convert the pandas dataframe to a sqlite table
df1.to_sql("Street", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

'C:\\Users\\GiGi\\repos\\MyNewProJect'

In [2]:
# WINDOWS absolute path - read CSV into dataframe
#df1 = pd.read_csv("C:\Users\GiGi\Sacramentorealestatetransactions.csv", header=None)

In [4]:
df1.sample(5)

                                                    0
22  4882 BANDALIN WAY                   SACRAMENTO...
13  2930 LA ROSA RD                     SACRAMENTO...
1   3526 HIGH ST                        SACRAMENTO...
26  3828 BLACKFOOT WAY                  ANTELOPE  ...
3   2796 BRANCH ST                      SACRAMENTO...