In [1]:
import pandas as pd

In [2]:
# WINDOWS absolute path - read CSV into dataframe
#df1 = pd.read_csv("C:\Users\GiGi\Sacramentorealestatetransactions.csv", header=None)

In [3]:
# WINDOWS relative path - read CSV into dataframe
df1 = pd.read_csv("Sacramentorealestatetransactions.csv", header=None)

In [4]:
df1.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11
689,6019 CHESHIRE WAY,CITRUS HEIGHTS,95610,CA,4,3,1736,Residential,Fri May 16 00:00:00 EDT 2008,195000,38.676437,-121.279165
844,2159 BECKETT DR,EL DORADO HILLS,95762,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,460000,38.680092,-121.036467
541,719 BAYWOOD CT,EL DORADO HILLS,95762,CA,5,3,0,Residential,Mon May 19 00:00:00 EDT 2008,487500,38.647598,-121.077801
510,1033 PARK STREAM DR,GALT,95632,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,355000,38.287785,-121.289903
399,1675 VERNON ST Unit 8,ROSEVILLE,95678,CA,2,1,990,Residential,Mon May 19 00:00:00 EDT 2008,160000,38.734136,-121.299639