In [1]:
import pandas as pd
import sqlite3
import os

WithDbFileDelete = True

dbfile = "RealEstate.db"

# create the sqlite DB
db = sqlite3.connect(dbfile)

# read CSV into dataframe
df1 = pd.read_csv("Sacramentorealestatetrans.csv")

# convert the pandas dataframe to a sqlite table
df1.to_sql("Street", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

'C:\\Users\\GiGi\\repos\\MyNewProJect'

In [2]:
df1

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [3]:
# query to show us what tables exist in DB
query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,table,Street,Street,2,"CREATE TABLE ""Street"" (\n""index"" INTEGER,\n ""..."
1,table,Street2_cleaned,Street2_cleaned,1011,"CREATE TABLE Street2_cleaned(""0"",""2"",""9"")"
2,table,Street3_cleaned,Street3_cleaned,1014,"CREATE TABLE Street3_cleaned(""0"",""2"",""3"")"
3,table,Street4_cleaned,Street4_cleaned,1016,"CREATE TABLE Street4_cleaned(\n street TEXT,\..."
4,table,Street6_cleaned,Street6_cleaned,1018,"CREATE TABLE Street6_cleaned(\n street TEXT,\..."
5,table,Street_cleaned,Street_cleaned,1010,"CREATE TABLE Street_cleaned(\n ""Code ID"",\n ..."
6,index,ix_Street_index,Street,1005,"CREATE INDEX ""ix_Street_index""ON ""Street"" (""in..."
7,index,ix_realestate_index,realestate,7,"CREATE INDEX ""ix_realestate_index""ON ""realesta..."
8,table,realestate,realestate,6,"CREATE TABLE ""realestate"" (\n""index"" INTEGER,\..."

In [4]:
query = """
SELECT * 
FROM Street LIMIT 12;
"""
run_query(query)

,index,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
9,9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979
10,10,645 MORRISON AVE,SACRAMENTO,95838,CA,3,2,909,Residential,Wed May 21 00:00:00 EDT 2008,100309,38.637663,-121.451520
11,11,4085 FAWN CIR,SACRAMENTO,95823,CA,3,2,1289,Residential,Wed May 21 00:00:00 EDT 2008,106250,38.470746,-121.458918

In [5]:
c = db.cursor()

Create_TableName = "Street7_cleaned"

Create_SQL = f"""
create table if not exists {Create_TableName} as
select street, zip, price, type
from Street;
"""
c.execute(Create_SQL)

c.close()

Street7_cleaned = """
select 
*
from Street7_cleaned;
"""

run_query(Street7_cleaned)
#run_query(query_distinct_card)

                  street    zip   price         type
0           3526 HIGH ST  95838   59222  Residential
1            51 OMAHA CT  95823   68212  Residential
2         2796 BRANCH ST  95815   68880  Residential
3       2805 JANETTE WAY  95815   69307  Residential
4        6001 MCMAHON DR  95824   81900  Residential
..                   ...    ...     ...          ...
980   9169 GARLINGTON CT  95829  232425  Residential
981      6932 RUSKUT WAY  95823  234000  Residential
982    7933 DAFFODIL WAY  95610  235000  Residential
983     8304 RED FOX WAY  95758  235301  Residential
984  3882 YELLOWSTONE LN  95762  235738  Residential

[985 rows x 4 columns]

In [6]:
query = """ select zip, type, avg(price)
from Street where price is not null
group by zip"""
run_query(query)

      zip         type     avg(price)
0   95603  Residential  405890.800000
1   95608  Residential  295684.750000
2   95610  Residential  226436.285714
3   95614  Residential  300000.000000
4   95619  Residential  216033.000000
..    ...          ...            ...
63  95838  Residential  149461.351351
64  95841        Condo  213806.142857
65  95842  Residential  143281.772727
66  95843  Residential  232496.393939
67  95864  Residential  364400.000000

[68 rows x 3 columns]